@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
html, body{
  height: 100%;
  text-align: center;
  font-family: "Amaranth", arial;
  margin: 0 auto;
}
button{
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
#imgTitle{
  width: 90%;
  margin: 20px;
}
.sectionDiv{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: fit-content;
  background-color: gray;
}
.sectionDiv > p{
  font-size: 120%;
}
.articleFeaturedPlant{
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  height: fit-content;
  position: relative;
  /*For animation*/
  transition: transform .2s, z-index .1s;
}
.articleFeaturedPlant > img{
  width: 150px;
  height: 150px;
}
.articleFeaturedPlant > button{
  position: absolute;
  transform: translate(-100%, 275%);
  width: 150px;
  height: 40px;
  background-color: rgba(53, 145, 48, 0.75);
  background-repeat: no-repeat;
}

.articleFeaturedZombie{
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  height: fit-content;
  position: relative;
  /*For animation*/
  transition: transform .2s, z-index .1s;
}
.articleFeaturedZombie > img{
  width: 150px;
  height: 150px;
}
.articleFeaturedZombie > button{
  position: absolute;
  transform: translate(-100%, 275%);
  width: 150px;
  height: 40px;
  background-color: rgba(38, 46, 39, 0.75);
  background-repeat: no-repeat;
}

/*Anims*/
.articleFeaturedPlant:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}
.articleFeaturedZombie:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}
